
:root {
    --background-color: #fefce8;
    --alternate-color: #eab308;
}

body {
    margin: 0rem;
    font-family:Arial, Helvetica, sans-serif
}
nav {
    text-align: center;
    background-color: var(--background-color);
    padding: 3rem 0 1rem 0;
    font-size: 1.8rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 5rem;
    color: var(--alternate-color);
    line-height: 0px;
    

}

.sub-heading {
   line-height: 0px;
}


textarea {
    width: 90%;
    height: 10vh;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: .4rem;
    padding: .5rem .7rem;
    border-color: var(--alternate-color)
    

  
}

#btn-translate {
    border: 1px;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
   margin-bottom: 0.5rem;
   padding: .8rem 3rem;
   font-size: 1rem;
   border-radius: .4rem;
   color:rgb(201, 145, 5);
   background-color: var(--background-color);
   
   
}

.output {
    text-align: center;
    padding: .5rem;
    color: rgb(111, 109, 109)
}

#output {
    border: 1px solid var(--alternate-color);
    height: 10vh;
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 0.4rem;
    padding: .5rem 0.7rem;
    color: rgb(90, 89, 89);
    
}

footer {
    text-align: center;
    padding: 10rem;
    color: grey;
    font-size: 16px;
    
}